.img-holder{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;

}
.img-holder div{
    width: 300px;
   padding: 5px;
   border-radius: 10px;
   

}
.img-holder img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}